body{
    font-family:'Caudex';
    margin:1%;
    font-size:1.3vw;
    padding:1.5%;
    border: 0.2vw double;
    background:ghostwhite;
}

.wrapper{
    display:flex; 
}
.info-container{
    width:25%;
    border: 0.1vw solid;
    padding:1%;
    height:30%;
}
.info-logo{
    width:20%;
}
#symbol{
    position: absolute;
    height:70%;
    opacity:30%;
    margin-top:1%;
    margin-left:72%;
    transition:opacity 1s;
}
#bg-image{
    opacity:0;
    position:absolute;
    margin-top:21%;
    width:70%;
    margin-left:15%;
    transition: opacity 1.5s;
}
.logo{
    position:absolute;
    margin-top:30%;
    width:45%;
    margin-left: 27%;
    opacity:0;
    transition:opacity 2.5s ease-in-out;
}

.member-container{
    width:25%;
    border: 0.1vw solid;
    padding:1%;
    margin-left:3%;
    opacity:0%;
    transition: opacity 1.5s 1s;
}
.members-logo{
    position:absolute;
    width:22%;
    margin-left:15%;
    margin-top:12.5%;
    transition:margin-left 1.2s ease-in-out,margin-top 1.2s ease-in-out, width 1.2s ease-in-out;
}

.history-logo{
    margin-top:-2%;
    width:18%;
    margin-left:4%;
    position:absolute;
    transition: margin-top 1.2s ease-in-out,margin-left 1.2s ease-in-out, width 1.2s ease-in-out;
}
.history-container{
    width:25%;
    border: 0.1vw solid;
    padding:1%;
    margin-top:-4%;
    visibility: hidden;
    opacity:0;
    transition:opacity 1.5s 1s;
}
.hint{
    transition: opacity 1.5s;
    margin-top:-1%;
}
.discography-logo{
    position:absolute;
    margin-top:-20%;
    margin-left:65%;
    width:25%;
    margin-bottom:5%;
    transition: margin-top 1.2s ease-in-out, width 1.2s ease-in-out;
}
.discography-container{
    width:25%;
    border: 0.1vw solid;
    padding:1%;
    margin-top:-31.1%;
    margin-left:63%;
    text-align: center;
    margin-bottom:16%;
    opacity:0;
    transition:opacity 1.5s 1s;
}
.discography-container a{
    line-height:2.5;
}
#input-wrapper{
    margin-top:-15%;
    margin-bottom:11%;
    opacity:0;
    transition:opacity 1s 2s;
}
#year-input{
    height:1.5vw;
    margin:0.25%;
    font-family: 'Caudex';
}
.btnCheck{
    background-color: rgb(230,230,230);
    padding:0.75% 1.5%;
    border-radius: 0.5vw;
    border:none;
    font-family: 'Caudex';
    font-size:1.3vw;
    transition:background-color 0.8s, color 0.8s;
}
.btnCheck:hover{
    background-color: silver;
    color:white;
}
a{
    color:rgb(46,28,14);  
    transition:color 1s;
}
a:hover{
    color:rgb(182,111,41)
}
#tarja-era{
    opacity:0%;
    transition: opacity 1.5s,color 1.2s 1.2s;
}
#anette-era{
    margin-top:-3%;
    opacity:0%;
    transition: opacity 1.5s,color 1.2s 1.2s;
    position:absolute;
}
#current-era{
    position:absolute;
    margin-top:-3%;
    opacity:0%;
    transition: opacity 1.5s,color 1.2s 1.2s;
}
